@import '~css-reset-and-normalize/scss/reset-and-normalize'
@import '~rfs/scss'

$break-large: 800px

$color0: #444fff
$color1: #b097fd  // light purlple
$color2: rgb(255, 8, 131)  // pink
$color3: #fa52d1
$color4: #938dff
$color5: #81eafd  // lightblue
$color6: #ef64ee

body
  color: #555
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif

main
  line-height: 1.4

a, a:visited
  color: $color0
  transition: all 200ms linear
  text-decoration: none
  &:hover
    color: $color3

h1
  @include font-size(2.5rem)
  margin-top: 5rem
  margin-bottom: 3.5rem
  text-align: center

h2
  @include font-size(2.2rem)
h3
  @include font-size(2rem)
h4
  @include font-size(1.8rem)
h5
  @include font-size(1.6rem)
h6
  @include font-size(1.4rem)
p, li, div
  @include font-size(1.3rem)
code, pre
  @include font-size(1.15rem)

h1, h2, h3, h4, h5, h6
  color: $color3
  font-weight: 300
  font-family: Raleway, sans-serif

  a, a:visited, a:link, a:active
    text-decoration: none
    color: $color0
    &:hover
      color: $color6

ul, ol
  margin-left: 1.6rem
  margin-bottom: 1em

ul li
  list-style-type: disc

ol li
  list-style-type: decimal

p
  margin: 1em 0

time
  color: #525252
  line-height: 2.8em

a.read-more, a.read-more:link, a.read-more:active, a.read-more:visited
  display: block
  margin-top: 1.8em
  margin-bottom: 3em
  text-align: center
  line-height: 2
  color: $color3
  border: 1px solid $color3
  text-decoration: none
  transition: all 177ms linear

  &:hover
    color: white
    background-color: $color3
    border: 1px solid white

code, pre
  background: #f6fff2

pre
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

pre
  code
    padding: 0

code
  padding: 0 .5rem
  vertical-align: text-bottom

pre
  padding: 1em

img
  max-width: 100%
  height: auto

.container
  max-width: 80em
  margin: 2rem auto

@media screen and (max-width: 500px)
  .container
    margin: 2rem 0.5em

@media screen and (min-width: 1100px)
  .container
    max-width: 1050px
    margin: 2rem auto

body a.action, body a.action:visited
  border-radius: 7px
  padding: .9rem 1.4rem
  margin: 1rem
  text-align: center
  border: 3px solid $color2
  color: $color2
  font-weight: bold

.logos
  text-align: center

  img
    width: 90%

    @media screen and (min-width: 400px)
      width: 35vw

    @media screen and (min-width: 800px)
      width: 19%

    filter: grayscale(100%)
    transition: all 400ms linear

    &:hover
      filter: grayscale(0)

.section
  margin-bottom: 5rem

.hero
  background-size: cover
  background-position: top
  padding: 0
  height: 100vh

  .hero-inner
    min-height: 100%
    min-width: 100%
    padding: 1em
    color: white
    text-align: center
    font-weight: lighter
    display: flex
    flex-direction: column
    justify-content: center

  a.action
    margin-top: 3rem
    background-color: $color2
    color: white !important

  h1, h2
    color: white
    line-height: 1.3
    text-shadow: 0 0 2px #fff
    margin: 2vh 0

  h1
    @include font-size(4rem)

  h2
    @include font-size(3rem)

  span.subtitle
    display: block
    @include font-size(1.5rem)
    margin: 2vh 0
    color: white

    a, a:visited
      color: $color5
      display: inline-block

  @media screen and (min-width: 800px)
    .hero
      padding-left: 20vw
      padding-right: 20vw

div.hero::first
  height: 100vh

.product-container
  display: flex
  justify-content: center
  margin: auto

.services
  display: inline-flex
  flex-wrap: wrap
  justify-content: center

  @media screen and (min-width: 500px)
    margin: 3.3rem auto

  @media screen and (min-width: 900px)
    flex-wrap: nowrap

  img
    max-width: 100%
    height: 180px
    margin-top: .7rem

  .service
    border: 1px solid #e9e9e9
    box-shadow: 2px 2px 10px #f4f4f4
    border-radius: 5px
    display: flex
    flex-direction: column
    text-align: center

    margin: .25rem
    padding: .25rem
    width: 100%

    @media screen and (min-width: 400px)
      margin: 1rem
      max-width: 364px
      padding: 1.25rem

    img
      border-radius: 7px

    h2
      text-align: center
      @include font-size(1.8rem)
      border: 0
      margin: .9rem .1rem .3rem .1rem
      color: $color1

    img, h2, a, ul
      margin: .25rem
      @media screen and (min-width: 500px)
        margin: 1.25rem

    ul
      margin: .9rem .1rem
      padding: 0

      li
        list-style-type: none
        text-align: center

  @media screen and (max-width: 950px)
    margin: auto

  strong
    color: #333

.main-header.transparent
  background-color: transparent

  a:not(.logo)
    color: white
    text-shadow: 0 0 3px #FFF

    &:hover
      color: white
      background-color: rgba(255, 255, 255, 0.1)
      border: 2px solid white

    &.active
      border: 2px solid $color2

.main-header:not(.transparent)
  background-color: white

  a:not(.logo)
    color: $color2
    border: 2px solid transparent
    text-shadow: 0 0 3px transparent

    &:hover
      color: white
      background-color: $color2
      border: 2px solid transparent

    &.active
      border: 2px solid $color2

.main-header.hero-header
  position: fixed
  top: 0
  left: 0
  right: 0
  transition: all 200ms linear

.main-header
  text-align: center
  display: flex
  justify-content: space-evenly
  transition: all 75ms linear
  padding: 7px

  @media screen and (max-width: 500px)
    flex-wrap: wrap
    a.logo
      flex: 0 0 100%

  a:not(.logo)
    font-weight: bold
    font-family: Raleway, sans-serif
    border: 2px solid transparent
    border-radius: 5px
    text-decoration: none
    margin-bottom: 0
    margin-top: auto
    padding: 5px

    @include font-size(1rem)
    @media screen and (min-width: 500px)
      @include font-size(1.2rem)
    @media screen and (min-width: 700px)
      @include font-size(1.4rem)


footer
  text-align: center
  padding: 1rem 0
  font-weight: lighter

  p
    @include font-size(1.1rem)

  h5
    border: 0

  img a
    display: block
    padding: 1rem
    color: $color5

.author-detail
  div.avatar
    @media screen and (min-width: 600px)
      float: right
      padding: 0 0 0 1.4em
    @media screen and (max-width: 600px)
      text-align: center

  .articles li
    list-style-type: none

.icon
  vertical-align: middle
  width: 45px
  height: 45px

.li-svg
  list-style-type: none
  display: inline
  margin: 1em

  a
    text-decoration: none

div.tags
  height: 3em

p.ybs-age
  text-align: center

h1.notfound
  text-align: center
  size: 34
  padding: 2.5em

ul.post-list
  padding: 0 1em
  li
    list-style-type: none

ul.tag-list
  padding: 0 1em
  li
    display: inline
    @include font-size(1rem)

.team
  text-align: center

  img
    border-radius: 50%
    width: 50px

  .team-item
    align-items: center
    display: flex
    justify-content: space-between

.author-list
  list-style-type: none
  text-align: center
  margin-top: 3em
