@import '~css-reset-and-normalize/scss/reset-and-normalize'
@import '~rfs/scss'

$break-large: 800px

$color0: #444fff
$color1: #b097fd  // light purlple
$color2: rgb(255, 8, 131)  // pink
$color3: #fa52d1
$color4: #938dff
$color5: #81eafd  // lightblue
$color6: #ef64ee

main
  line-height: 1.6
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif

.hero
  background: linear-gradient(to bottom, $color0 0, #100c65 100%)

  color: white
  text-align: center
  padding: 1em
  font-weight: lighter

  h1
    color: white
    padding-top: 7vh
    line-height: 2.5
    text-shadow: 0 0 6px #FFF

  span.subtitle
    display: block
    padding-bottom: 7vh
    padding-top: 0.9em

.container
  max-width: 80em
  margin: 0 1em
  padding: 1em
  color: #555

  strong
    color: #333

a, a:visited
  color: $color0
  transition: all 400ms linear
  &:hover
    color: $color3

h1
  @include font-size(2.5rem)
h2
  @include font-size(2.2rem)
h3
  @include font-size(2rem)
h4
  @include font-size(1.8rem)
h5
  @include font-size(1.6rem)
h6
  @include font-size(1.4rem)
p, li, div
  @include font-size(1.3rem)
code, pre
  @include font-size(1.15rem)

h1, h2, h3, h4, h5, h6
  color: $color3
  border-bottom: 1px solid $color4
  font-weight: 300
  a, a:visited, a:link, a:active
    text-decoration: none
    color: $color0
    &:hover
      color: $color0

ul, ol
  margin-left: 1.6rem
  margin-bottom: 1em

ul li
  list-style-type: disc

ol li
  list-style-type: decimal

p
  margin: 1em 0

time
  color: #525252
  line-height: 2.8em

a.read-more, a.read-more:link, a.read-more:active, a.read-more:visited
  display: block
  margin-top: 1.8em
  margin-bottom: 3em
  text-align: center
  line-height: 2
  color: $color3
  border: 1px solid $color3
  text-decoration: none
  transition: all 177ms linear

  &:hover
    color: white
    background-color: $color3
    border: 1px solid white
    text-shadow: 0 0 6px #fff

code, pre
  background: #f6fff2

pre
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

pre
  code
    padding: 0

code
  padding: 0 .5rem
  vertical-align: text-bottom

pre
  padding: 1em

img
  max-width: 100%
  height: auto

@media screen and (min-width: 800px)
  .hero
    padding-left: 20vh
    padding-right: 20vh

@media screen and (min-width: 1100px)
  .container
    margin: 0.5em auto
    max-width: 1100px

  header.main-header
    background-color: white

    img
      margin-left: 1em

.main-header
  display: flex
  align-items: center
  flex-wrap: wrap

  justify-content: center
  @media screen and (min-width: 1100px)
    justify-content: space-between

  .main-nav
    font-family: "Raleway", "Helvetica", "Arial", sans-serif
    ul
      text-align: center
      margin: 0 1em
    li
      display: inline
      @include font-size(1rem)
      font-weight: bold

    a
      display: inline-block
      padding: .3em .5em
      text-decoration: none
      color: $color6
      transition: all 200ms linear
      margin-bottom: 4px

      &:hover
        color: #fff
        background-color: $color6
        border-radius: 50px
        text-shadow: 0 0 3px #fff

footer
  background: linear-gradient(to bottom, $color0 0, #070088 100%)
  color: white
  text-align: center
  margin-top: 4.5rem
  padding: 1rem 0
  font-weight: lighter

  p
    @include font-size(1.1rem)

  h5
    border: 0
    color: white
    text-shadow: 0 0 3px #FFF

  a, a:visited, a:active, a:link, a:hover
    color: $color5
    text-shadow: 0 0 3px $color5

  .column
    display: inline-block
    vertical-align: top
    min-width: 300px
    a
      display: block
      text-decoration: none
      &:hover
        color: #DDD

    h5
      line-height: 1.6rem
      padding: 0.8rem 0

    a, li, p
      line-height: 1.3
      margin: 0

.author-detail
  div.avatar
    @media screen and (min-width: 600px)
      float: right
      padding: 0 0 0 1.4em
    @media screen and (max-width: 600px)
      text-align: center

  .articles li
    list-style-type: none

.icon
  vertical-align: middle
  width: 45px
  height: 45px

.li-svg
  list-style-type: none
  display: inline
  margin: 1em

  a
    text-decoration: none

div.tags
  height: 3em

p.ybs-age
  text-align: center

h1.notfound
  text-align: center
  size: 34
  padding: 2.5em

ul.post-list
  padding: 0 1em
  li
    list-style-type: none

ul.tag-list
  padding: 0 1em
  li
    display: inline
    @include font-size(1rem)

.author-list
  list-style-type: none
  text-align: center
  margin-top: 3em
