<!DOCTYPE html>
<html lang="{{ .Lang | default .Site.Params.DefaultContentLanguage }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <link rel="stylesheet" href="{{ "bundle.css" | relURL }}">
    <link rel="stylesheet" href="{{ "fonts.css" | relURL }}">
    <link rel="stylesheet" href="{{ "prism.css" | relURL }}">
    {{ with .OutputFormats.Get "RSS" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{- end }}
</head>
<body>
    {{ partial "header" . }}
    <div>
        <p>Sorry page not found</p>
    {{ partial "footer" . }}

    <script src="{{ "bundle.js" | relURL }}"></script>
    <script src="{{ "prism.js" | relURL }}"></script>
    <script>
        var links = document.getElementsByTagName("a");
        for (var i = 0, linksLength = links.length; i < linksLength; i++) {
           if (links[i].hostname != window.location.hostname) {
              links[i].target = '_blank';
           }
        }
    </script>
</body>
</html>
