<div class="container" style="text-align: center; padding: 3.5rem 0">
  <h2>{{ i18n "They trust us" }}</h2>

  <div class="homepage-content">
    <div class="logos">
      <img loading="lazy" src="/img/logo/france-500.jpg" />
      <img loading="lazy" src="/img/logo/accenture.png" />
      <img loading="lazy" src="/img/logo/betagouv.jpg" />
      <img loading="lazy" src="/img/logo/octo-500.png" />
      <img loading="lazy" src="/img/logo/secu.png" />
    </div>
  </div>
</div>

<div class="hero" style="background-image: url(/img/backgrounds/abstract.jpg); background-position: center; height: auto; padding: 5rem 0">
  <a name="contact"></a>
  <div class="hero-inner">
    <h2>Contact</h2>
    <div class="container">
      <span class="subtitle">
        {{ i18n "Sales" }}: <a href="tel:+33.605.757.226">+33.769.836.100</a>
        </br>
        Tech: <a href="tel:+33.605.757.226">+33.605.757.226</a>
        </br>
        Email: <a href="mailto:contact@yourlabs.org">contact@yourlabs.org</a>
      </span>
    </div>
  </div>
</div>

<footer>
        <!--
        <div class="column">
            <h5>Services</h5>
            <a href="/secops" title="Services en Cyber Securité">Service Cyber Sécurité</a>
            <a href="/secops/demo" title="Support Formation Technique">Conférences & Formations</a>
            <a href="/devops" title="Fluidité DevOps Integration Continue Deploiement continu">DevOps / CI / CD</a>
            <a href="/posts/2020-02-08-bigsudo-extreme-devops-hacking-operations/" title="eXtreme DevOps">eXtreme DevOps</a>
            <a href="https://yourlabs.io/oss/containers/tree/master/tezos" title="Developpement TDD Smart Contract Tezos Toutes Plateformes">Developemment Smart Contract Tezos</a>
        </diV>
        <div class="column">
            <h5>Code</h5>
            <a href="https://yourlabs.io/oss" title="YourLabs Open Source Software (hosted)">OSS Git Catalog</a>
            <a href="https://galaxy.ansible.com/yourlabs/" title="YourLabs Open Source BigSudo Ansible roles">Ansible Roles</a>
            <a href="https://github.com/yourlabs" title="YourLabs Open Source Software (github)">GitHub Mirror</a>
            <a href="https://github.com/jpic" title="YourLabs Open Source Software (jpic)">@jpic</a>
            <a href="https://pypi.org/user/jpic/" title="Python Packages">Python Packages</a>
        </div>
        -->
    <img src="/img/logo/yourlabs.png" />
    <div>
            <a href="https://drive.google.com/drive/folders/1mhVZls9ZatSB8Zh4sQawkqXpJQvPO0Zr">Press Kit</a>
            <a href="/team/">Team</a>
            <a href="https://yourlabs.io/explore">Code</a>
            <a href="https://github.com/yourlabs">GitHub</a>
            <a href="https://www.societe.com/societe/yourlabs-business-service-832122428.html">Legal</a>
            <p></p>
            YourLabs Business Service &copy; 2012-{{ now.Year }}
    </div>
</footer>
