<footer>
    <div>
        <div class="column">
            <h5>Services</h5>
            <a href="/secops" title="Services en Cyber Securité">Service Cyber Sécurité</a>
            <a href="/secops/demo" title="Support Formation Technique">Conférences & Formations</a>
            <a href="/devops" title="Fluidité DevOps Integration Continue Deploiement continu">DevOps / CI / CD</a>
            <a href="/posts/2020-02-08-bigsudo-extreme-devops-hacking-operations/" title="eXtreme DevOps">eXtreme DevOps</a>
            <a href="https://yourlabs.io/oss/containers/tree/master/tezos" title="Developpement TDD Smart Contract Tezos Toutes Plateformes">Developemment Smart Contract Tezos</a>
        </diV>
        <div class="column">
            <h5>Code</h5>
            <a href="https://yourlabs.io/oss" title="YourLabs Open Source Software (hosted)">OSS Git Catalog</a>
            <a href="https://galaxy.ansible.com/yourlabs/" title="YourLabs Open Source BigSudo Ansible roles">Ansible Roles</a>
            <a href="https://github.com/yourlabs" title="YourLabs Open Source Software (github)">GitHub Mirror</a>
            <a href="https://github.com/jpic" title="YourLabs Open Source Software (jpic)">@jpic</a>
            <a href="https://pypi.org/user/jpic/" title="Python Packages">Python Packages</a>
        </div>
        <div class="column">
            <h5>YourLabs Business Service</h5>
            <a href="https://drive.google.com/drive/folders/1mhVZls9ZatSB8Zh4sQawkqXpJQvPO0Zr">Press Kit</a>
            <a href="https://www.societe.com/societe/yourlabs-business-service-832122428.html">Legal</a>
            <a href="mailto:contact@yourlabs.org">contact@yourlabs.org</a>
            <p></p>
            <p class="ybs-age">&copy; 2012-{{ now.Year }}</p>
        </div>
    </div>
</footer>
