<footer>
    <div>
        <div class="column">
            <h5>Services</h5>
            <a href="/secops" title="Securité">Securité</a>
            <a href="/devops" title="Fluidité">Fluidité</a>
            <a href="/posts/2020-02-08-bigsudo-extreme-devops-hacking-operations/" title="eXtreme DevOps">eXtrem DevOps</a>
            <a href="/posts/2020-02-08-tezos-sandbox-custom-gas/" title="tezos">Tezos</a>
        </diV>
        <div class="column">
            <h5>Code</h5>
            <a href="https://yourlabs.io/oss" title="YourLabs Open Source Software (hosted)">YourLabs.io</a>
            <a href="https://galaxy.ansible.com/yourlabs/" title="YourLabs Open Source BigSudo Ansible roles">Galaxy</a>
            <a href="https://github.com/yourlabs" title="YourLabs Open Source Software (github)">GitHub</a>
            <a href="https://github.com/jpic" title="YourLabs Open Source Software (jpic)">@jpic</a>
            <a href="https://pypi.org/user/jpic/" title="Python Pip">Python Pip</a>
        </div>
        <div class="column">
            <h5>Contact Us</h5>
            <p>Sales</p>
            <a href="tel:+33769836100">+33.769.836.100</a>
            <p>Tech (24/7)</p>
            <a href="tel:+33605757226">+33.605.757.226</a>
            <p>Email</p>
            <a href="mailto:contact@yourlabs.org">contact@yourlabs.org</a>
            <a href="https://drive.google.com/drive/folders/1mhVZls9ZatSB8Zh4sQawkqXpJQvPO0Zr">Press Kit</a>
        </div>
    </div>
    <p class="ybs-age">&copy; 2012-{{ now.Year }} <a href="https://www.societe.com/societe/yourlabs-business-service-832122428.html">YourLabs Business Service</a></p>
</footer>
