<div class="container">
    <header class="main-header">
        <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" class="logo">
            <img src="/logo.png" width="170" height="95" alt="{{ .Site.Title }}">
        </a>
        {{ $ctx := . }}
        {{ with .Site.Menus.main }}
            {{ range . }}
            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
        {{ if .Site.IsMultiLingual }}
            {{ range .Site.Languages }}
                {{ if not (eq .Lang $.Site.Language.Lang) }}
                    <a href="{{ $.Site.BaseURL }}/" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
                {{ end }}
            {{ end }}
        {{ end }}
    </header>
</div>
