<header class="main-header">
    <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
        <img src="/logo.png" width="170" height="95" alt="{{ .Site.Title }}">
    </a>
    {{ $ctx := . }}
    {{ with .Site.Menus.main }}
    <nav class="main-nav">
        <ul class="main-nav-list">
            {{ range . }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
        {{ end }}
        {{ if .Site.IsMultiLingual }}
            <li>
                {{ range .Site.Languages }}
                    {{ if not (eq .Lang $.Site.Language.Lang) }}
                        {{ if not ( eq .Lang $ctx.Site.Params.defaultLang) }}
                            <a href="{{ $ctx.Site.BaseURL }}/{{ .Lang }}/" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
                        {{ else }}
                            <a href="{{ $ctx.Site.BaseURL }}/" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </li>
        </ul>
    </nav>
    {{ end }}
</header>
