{{ define "main" }}
<main>
  <div class="hero">
    <h1>{{.Title}}</h1>
    <span class="subtitle">
        {{.Params.subtitle}}
        <br />
        {{.Params.subtitle2}}
    </span>
  </div>

  <div class="container">
    <div class="homepage-content">
      {{.Content}}
    </div>

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    <h1>Blog</h1>
    {{ range $paginator.Pages }}
        {{ .Render "summary" }}
    {{ end }}
    {{ partial "pagination.html" . }}

  </div>
</main>
{{ end }}
