<footer>
    <div>
        <div class="column">
            <h5>Services</h5>
            <a href="/secops" title="Securité">Securité</a>
            <a href="/devops" title="Fluidité">Fluidité</a>
        </diV>
        <div class="column">
            <h5>Code</h5>
            <a href="https://yourlabs.io/oss" title="YourLabs Open Source Software (hosted)">YourLabs.io</a>
            <a href="https://galaxy.ansible.com/yourlabs/" title="YourLabs Open Source BigSudo Ansible roles">Galaxy</a>
            <a href="https://github.com/yourlabs" title="YourLabs Open Source Software (github)">GitHub</a>
            <a href="https://github.com/jpic" title="YourLabs Open Source Software (jpic)">@jpic</a>
        </div>
        <div class="column">
            <h5>Contact Us</h5>
            <p>Sales</p>
            <p>+33.671.573.763</p>
            <p>Tech (24/7)</p>
            <p>+33.605.757.226</p>
            <p>Email</p>
            <p>contact@yourlabs.org</p>
        </div>
    </div>
	<p style="text-align: center">&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
</footer>
