<header class="main-header">
	<div class="container">
        <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
            <img src="/logo.png" width="170" height="95" alt="{{ .Site.Title }}">
        </a>
        {{ with .Site.Menus.main }}
		<nav class="main-nav">
			<ul class="main-nav-list">
                {{ range . }}
                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
        {{ end }}
	</div>
</header>
